# 📦 Entornos virtuales (Bloqueo absoluto para Windows/Git)
venv
venv/*
ENV
env
**/venv/


# 🔑 Archivos de configuración local y credenciales
.env
.env.txt

# 🐍 Archivos temporales de Python (Caché)
__pycache__
__pycache__/*
*.pyc
*.pyo
*.pyd

# 🗄️ Base de datos local SQLite (Por si quedó algún rastro)
*.sqlite3

# 📄 Archivos cargados por los usuarios (Los PDFs reales)
src/media/
src/documentos_pdf/
media/
documentos_pdf/

# 💻 Configuraciones de editores de código
.vscode/
.idea/
